*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: hsl(148, 38%, 91%);
    font-family:"karla", sans-serif;

}
form{
    background-color:rgb(243, 18, 149);
    padding: 1em;
    border-radius: 0.50em ;
   
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 10vw 5vw 10vw;

}

.campoNome{
    display: flex;
}
h1{
    margin: 1em;
}

button{
    width: 100%;
    height: 3em;
    border-radius: 0.5;
    background-color: rgb(29, 5, 134);
    color: rgb(42, 220, 233);
    border: none;
}
.PrimeiroNome input,.Sobrenome input{
    width: 100%;
    height: 2.5em;
    border: 1px solid rgb(221, 188, 188);
    border-radius: 0.5em;
}

.PrimeiroNome{ 
    margin-right: 1em;
}
.campoEmail input{
    width: 100%;
    height: 3em;
    border: 1.5px solid rgb(240, 184, 184);
    border-radius: 0.5em;
}
.campoMensagem input{
    width: 100%;
    height: 10em;
    border: 3px solid lightgray;

}
.campodeselecao {
    display: flex;
}
.campo1 {
    margin right: 5em
    border: 3px solid lightpink;
    border radius
}